body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  color: #333;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.logo {
  width: 70px;
  height: 70px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.card {
  width: 300px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: none;
  background-color: black;
  border-bottom: 1px solid #ccc;
  color: #333;
  transition: box-shadow 0.3s;
}

input:focus {
  box-shadow: 0 0 10px lightblue;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.login-button,
.register-link {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  text-decoration: none;
}

.login-button {
  background-color: lightblue;
  color: #fff;
}

.login-button:hover {
  background-color: lightblue;
  box-shadow: none;
}

.login-button:active {
  box-shadow: 0 0 10px lightblue;
}

.register-link {
  color: white;
  background-color: transparent;
}

.register-link:hover {
  color: lightblue;
}

.register-link:active {
  box-shadow: 0 0 10px #ccc;
}

.additional-ui {
  margin-top: 40px;
  text-align: center;
}

.additional-ui h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.additional-ui p {
  font-size: 16px;
  margin-bottom: 20px;
}

.explore-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.explore-button:hover {
  background-color: lightblue;
  box-shadow: none;
}

.explore-button:active {
  box-shadow: 0 0 10px lightblue;
}